In [1]:
import pandas as pd
import numpy as np

In [5]:
df= pd.read_csv(r"C:\Users\user\Desktop\MORE_Python & SQL(2941) (2).csv")
df

             date  order_no format     division_name    orderval   rcvval
0      2020-10-18       1.0     sm           Staples     9,732.8  9,732.8
1      2020-10-16       2.0     sm      Grocery Food       558.7    558.7
2      2020-10-20       3.0     sm  Grocery Non Food     2,927.0  2,927.0
3      2020-10-21       4.0     sm      Grocery Food       906.0    906.0
4      2020-10-27       5.0     sm      Grocery Food       988.6    988.6
...           ...       ...    ...               ...         ...      ...
11901  2020-10-26  11,902.0     hm  Grocery Non Food       458.3      NaN
11902  2020-10-23  11,903.0     hm      Grocery Food     2,486.9      NaN
11903  2020-10-26  11,904.0     hm      Grocery Food     1,138.3      NaN
11904  2020-10-22  11,905.0     hm      Grocery Food  1,24,081.0      NaN
11905  2020-10-28  11,906.0     hm      Grocery Food     1,384.1      NaN

[11906 rows x 6 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11906 entries, 0 to 11905
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           11906 non-null  object
 1   order_no       11906 non-null  object
 2   format         11906 non-null  object
 3   division_name  11906 non-null  object
 4   orderval       9558 non-null   object
 5   rcvval         3792 non-null   object
dtypes: object(6)
memory usage: 279.1+ KB

In [7]:
df.fillna(0)

             date  order_no format     division_name    orderval   rcvval
0      2020-10-18       1.0     sm           Staples     9,732.8  9,732.8
1      2020-10-16       2.0     sm      Grocery Food       558.7    558.7
2      2020-10-20       3.0     sm  Grocery Non Food     2,927.0  2,927.0
3      2020-10-21       4.0     sm      Grocery Food       906.0    906.0
4      2020-10-27       5.0     sm      Grocery Food       988.6    988.6
...           ...       ...    ...               ...         ...      ...
11901  2020-10-26  11,902.0     hm  Grocery Non Food       458.3        0
11902  2020-10-23  11,903.0     hm      Grocery Food     2,486.9        0
11903  2020-10-26  11,904.0     hm      Grocery Food     1,138.3        0
11904  2020-10-22  11,905.0     hm      Grocery Food  1,24,081.0        0
11905  2020-10-28  11,906.0     hm      Grocery Food     1,384.1        0

[11906 rows x 6 columns]

In [13]:
df['date'] = pd.to_datetime(df['date'])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11906 entries, 0 to 11905
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           11906 non-null  datetime64[ns]
 1   order_no       11906 non-null  object
 2   format         11906 non-null  object
 3   division_name  11906 non-null  object
 4   orderval       9558 non-null   object
 5   rcvval         3792 non-null   object
dtypes: datetime64[ns](1), object(5)
memory usage: 325.6+ KB

In [17]:
df.describe()

<ipython-input-17-ea8415b8a3ee>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

                       date order_no format division_name orderval   rcvval
count                 11906    11906  11906         11906     9558     3792
unique                   17    11906      2             3     4311     2252
top     2020-10-20 00:00:00  4,268.0     sm  Grocery Food  1,554.1  1,554.1
freq                   1516        1   8844          7308      120       56
first   2020-10-13 00:00:00      NaN    NaN           NaN      NaN      NaN
last    2020-10-29 00:00:00      NaN    NaN           NaN      NaN      NaN

In [19]:
df['format'].value_counts()

sm    8844
hm    3062
Name: format, dtype: int64

In [22]:
df.value_counts()

date        order_no  format  division_name     orderval  rcvval
2020-10-15  1,110.0   sm      Grocery Food      287.1     287.1      1
2020-10-21  587.0     sm      Grocery Non Food  5,836.6   5,836.6    1
            525.0     sm      Grocery Non Food  1,436.0   1,436.0    1
            529.0     sm      Grocery Food      988.5     988.5      1
            53.0      sm      Grocery Food      7,577.2   7,577.2    1
                                                                    ..
2020-10-20  2,300.0   sm      Grocery Food      3,062.1   3,062.1    1
            2,308.0   sm      Grocery Food      1,554.1   1,554.1    1
            2,310.0   sm      Grocery Non Food  1,796.1   1,796.1    1
            2,311.0   sm      Grocery Food      744.1     744.1      1
2020-10-27  655.0     sm      Grocery Food      1,809.5   1,809.5    1
Length: 3792, dtype: int64

In [28]:
df.value_counts()

date        order_no  format  division_name     orderval  rcvval
2020-10-15  1,110.0   sm      Grocery Food      287.1     287.1      1
2020-10-21  587.0     sm      Grocery Non Food  5,836.6   5,836.6    1
            525.0     sm      Grocery Non Food  1,436.0   1,436.0    1
            529.0     sm      Grocery Food      988.5     988.5      1
            53.0      sm      Grocery Food      7,577.2   7,577.2    1
                                                                    ..
2020-10-20  2,300.0   sm      Grocery Food      3,062.1   3,062.1    1
            2,308.0   sm      Grocery Food      1,554.1   1,554.1    1
            2,310.0   sm      Grocery Non Food  1,796.1   1,796.1    1
            2,311.0   sm      Grocery Food      744.1     744.1      1
2020-10-27  655.0     sm      Grocery Food      1,809.5   1,809.5    1
Length: 3792, dtype: int64

In [26]:
data

(0        sm
 1        sm
 2        sm
 3        sm
 4        sm
          ..
 11901    hm
 11902    hm
 11903    hm
 11904    hm
 11905    hm
 Name: format, Length: 11906, dtype: object,
 0                 Staples
 1            Grocery Food
 2        Grocery Non Food
 3            Grocery Food
 4            Grocery Food
                ...
 11901    Grocery Non Food
 11902        Grocery Food
 11903        Grocery Food
 11904        Grocery Food
 11905        Grocery Food
 Name: division_name, Length: 11906, dtype: object)